<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <center>
    
    <table border="1">
    <tr bgcolor="pink"><th>ID</th><th>USERNAME</th><th>LAST NAME</th><th>PASSWORD</th><th>EMAIL</th><th>MOBILENUMBER</th></tr>
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.username}}</td>
        <td>{{object.last_name}}</td>
        <td>{{object.password}}</td>
        <td>{{object.email}}</td>
        <td>{{object.mobile_no}}</td>
     </tr>
    </table>
    </center></section>
</body>
</html>