<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <a href="/">Back</a>
        <center>
    
    <table border="1">
<tr bgcolor="pink"><th>ID</th><th>USERNAME</th><th>LAST NAME</th><th>PASSWORD</th><th>EMAIL</th><th>MOBILENUMBER</th><th>OPRATIONS</th></tr>
   
     {% for obj in admin_list %}

     <tr>
        <td>{{obj.id}}</td>
        <td>{{obj.username}}</td>
        <td>{{obj.last_name}}</td>
        <td>{{obj.password}}</td>
        <td>{{obj.email}}</td>
        <td>{{obj.mobile_no}}</td>
        <td><a href="finddetail/{{obj.id}}">Find</a></td>
        <td><a href="{{obj.id}}/updatedetail">Edit</a></td>
        <td><a href="{{obj.id}}/deletedata">Delete</a></td>
     </tr>
     
          {% endfor %}
    </table>

    
    
    </center></section>
</body>
</html>